a:link {color: white;}
a:visited {color: grey;}

iframe {
  overflow-y: hidden;
}

span {
  color: #C0C0C0;
  font-weight: bold;
  font-family: garamond;
  text-align: center;
}

table {
  background-color: navy;
  border-color : grey;
  padding: 5px;
  width: 100%;
  color: white;
}

td {
  color: white;
}

h3 {
  font-variant: small-caps;
}

#header {
  text-align : center;
}

#header_top {
  color: navy;
  font-size: 50px;
  font-family: "Georgia";
  width: 100%;
  text-align:"center"
}
#header_top  a:link { color: navy; }
#header_top  a:visited { color: navy; }
#header_top  a:hover { color: navy; }
#header_top  a:active { color: navy; }

#header_bottom {
  font-family: "Geogia";
  font-size: 4;
  font-variant: small-caps;
  font-weight: bold;
  width: 100%;
  text-align:"center";
}

#bg {
  width: 100%;
  height: 100%;
}

body {
  background-color: #FFFFFF;
}

#blog_area {
  font-family: garamond; 
  text-align: left; 
  font-size: 18px; 
  color: black; 
  padding-left: 70px; 
  padding-top: 30px; 
  height: 100%;
  background-color: #EEEEEE;
}
  'overflow: auto;
'
#about_me {
  padding: 10px;
}
